# EDA and data preprocessing

   1.handling mising value
     missing value in categorical feature:
     1.delete the row
     2.replace with most frequent value
     3.apply classifier algo to predict the value
     4.apply unsupervised learning algo
     
     in pandas:
isnull(): Generate a boolean mask indicating missing values
notnull(): Opposite of isnull()
dropna(): Return a filtered version of the data
fillna(): Return a copy of the data with missing values filled or imputed

# 1.Handling missing value example

In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [3]:
vals1.sum()............#we can not add with none value in array

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [11]:
vals2=np.array([1,1,1,3,np.nan])
vals2

array([ 1.,  1.,  1.,  3., nan])

In [13]:
vals2.sum().............#not giv anmy error with nan

nan

In [17]:
data1= pd.read_csv('Data_for_Missing_values.CSV')

In [18]:
data1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [19]:
data1.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [28]:
#input and output data
input = data1.iloc[:,:-1].values

In [29]:
input

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [30]:
output= data1.iloc[:,3].values

In [31]:
output

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [32]:
#handelling mising value using sklearn
from sklearn.preprocessing import Imputer

In [33]:
imputer = Imputer(missing_values = "NaN", 
                  strategy = "mean", axis = 0) 0 is column and 1 is along the row

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [34]:
imputer = imputer.fit(input[:, 1:3])

In [35]:
input[:, 1:3] = imputer.fit_transform(input[:, 1:3])

In [36]:
input

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)